.article{

  padding: 16px 15px;

  background-color: rgba($bg-article,$bg-article-opacity);

  border: 1px solid rgba($border-article,0.3);
  border-radius: 4px;

  @media (min-width: $viewport-sm) {
    overflow: hidden;

    padding: 0;

    background-color: transparent;

    border: 0 solid rgba($border-article,0.3);

    transition: background-color 0.1s ease, border 0.1s ease, padding 0.15s ease;

    &--active{
      background-color: rgba($bg-article,$bg-article-opacity);

      border: 1px solid rgba($border-article,0.3);

      padding: 16px 15px;

      .article__img-wrapper{
        background-image: linear-gradient(180deg,rgba($bg-article,$bg-article-opacity),rgba($bg-article,$bg-article-opacity)), url(../img/bg-secondary.jpg);
        background-position: 0 0, 0 0;
        background-size: 100% 100%, 64px 64px;
        background-repeat: no-repeat, repeat;

        @media (min-resolution: 2dppx) {
          background-image: linear-gradient(180deg,rgba($bg-article,$bg-article-opacity),rgba($bg-article,$bg-article-opacity)), url(../img/bg-secondary@2x.jpg);
        }

        @media (min-resolution: 3dppx) {
          background-image: linear-gradient(180deg,rgba($bg-article,$bg-article-opacity),rgba($bg-article,$bg-article-opacity)), url(../img/bg-secondary@3x.jpg);
        }
      }
    }
  }

  @media (min-width: $viewport-md) {
    &--active{
      padding: 24px 24px;
    }
  }
}

.article__header{
  margin: 12px 0 12px 0;

  @media (min-width: $viewport-sm) {
    margin: 0 0 10px 0;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 14px;
  }
}

.article__title{
  height: 24px;
  overflow: hidden;

  margin: 0;
  padding: 0 15px;

  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  color: $color-article;

  text-align: center;

  transition: height 0.3s ease;

  @media (min-width: $viewport-sm) {
    padding: 0;

    text-align: left;
  }

  @media (min-width: $viewport-md) {
    height: 26px;

    font-size: 19px;
    line-height: 26px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 20px;
  }

  &::selection{
    background-color: $bgTextCopy;
    color: $colorTextCopy;
  }

}

.article__content__wrapper{
  padding: 8px 0 13px 0;

  border-top: 1px solid rgba($border-article,0.3);
  border-bottom: 1px solid rgba($border-article,0.3);

  @media (min-width: $viewport-sm) {
    padding: 6px 0 11px 0;
  }

  @media (min-width: $viewport-md) {
    padding: 10px 0 14px 0;
  }

}

.article__content{
  height: 96px;
  overflow: hidden;

  font-weight: 300;
  font-size: 15px;
  line-height: 24px;

  color: rgba($color-article,0.8);

  transition: height 0.3s ease;

  @media (min-width: $viewport-sm) {
    height: 72px;
  }

  @media (min-width: $viewport-md) {
    font-size: 16px;
  }

  &::selection{
    background-color: $bgTextCopy;
    color: $colorTextCopy;
  }

  p{
    margin: 0 0 0 0;

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      margin: 0 0 16px 0;

    }
  }

  strong, b{
    font-weight: 300;

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      color: lighten($primary,8%);

    }

  }

  a{
    text-decoration: none;
    color: inherit;

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{
      text-decoration: underline;
      color: lighten($primary,5%);

      &:hover{
        text-decoration: none;
      }
    }
  }

  ul{
    list-style-position: inside;
    list-style-type: decimal;

    padding: 0;
    margin: 0;

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      margin: 0 0 16px 0;

    }
  }

  li{
    padding-left: 10px;

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      margin: 0 0 5px 0;

    }
  }

  &--red{

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      color: #F43E04;

    }

  }

  &--green{

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      color: #67CB19;

    }

  }

  &--blue{

    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }

    .article--toggle &{

      color: #04BBF4;

    }

  }
}

.article__img-wrapper{

  @media (min-width: $viewport-sm) {
    float: left;

    width: 157px;
    height: 163px;

    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: $bg-news;
    background-image: url(../img/bg-secondary.jpg);
    background-position: 0 0;
    background-size: 64px 64px;
    background-repeat: repeat;

    user-select: $blockText;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-secondary@3x.jpg);
    }
  }

  @media (min-width: $viewport-md) {
    width: 185px;
    height: 176px;
  }

  @media (min-width: $viewport-lg) {
    height: 178px;
  }

}

.article__img{
  width: 110px;
  height: 125px;

  position: relative;

  padding: 0;
  margin: 0 auto;

  @media (min-width: $viewport-sm) {
    width: 141px;
    height: 160px;

    margin: 0;
  }

  @media (min-width: $viewport-md) {
    width: 153px;
    height: 173px;
  }

  &::before{
    content: "";

    width: inherit;
    height: inherit;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-image: url(../img/border-article.png);
    background-position: center;
    background-size: 110px 125px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/border-article@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/border-article@3x.png);
    }

    @media (min-width: $viewport-sm) {
      background-size: 141px 160px;
    }

    @media (min-width: $viewport-md) {
      background-size: 153px 173px;
    }

  }

  img{
    display: block;

    width: 100px;
    height: 110px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    @media (min-width: $viewport-sm) {
      width: 127px;
      height: 144px;
    }

    @media (min-width: $viewport-md) {
      width: 139px;
      height: 157px;
    }
  }
}

.article__footer{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0 0 0;

  user-select: $blockText;
}

.article__list{
  @include list();

  display: flex;

  font-size: 12px;
  line-height: 12px;

  color: rgba($color-article,0.8);

  @media (min-width: $viewport-sm) {
    font-size: 13px;
    line-height: 13px;
  }

  @media (min-width: $viewport-md) {
    line-height: 14px;
  }

}

.article__item{

  &:first-child{
    margin-right: 12px;

    @media (min-width: $viewport-sm) {
      margin-right: 22px;
    }

    @media (min-width: $viewport-md) {
      font-size: 14px;
    }
  }
}

.article__item-svg{
  margin: 0 4px -1px 0;

  width: 12px;
  height: 12px;

  fill: $icon-color-article;

  @media (min-width: $viewport-sm) {
    width: 14px;
    height: 14px;
  }
}

.article__button{

  font-size: 14px;
  line-height: 14px;

  color: $color-article;

  text-decoration: none;

  transition: 0.2s color ease;

  &:hover{

    @media (min-width: $viewport-lg) {
      color: #736A3C;
    }

  }
}

