.info{
  user-select: $blockText;
}

.info__inner{
  min-height: 488px;

  position: relative;

  padding: 70px 0 0 0;

  background-image: linear-gradient(0deg,$primary-bg,transparent),url(../img/bg-info.png);
  background-position: 0 bottom, 0 0;
  background-size: 100% 10px, 100% auto;
  background-repeat: no-repeat, no-repeat repeat;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(0deg,$primary-bg,transparent),url(../img/bg-info@2x.png);
  }

  @media (min-resolution: 3dppx) {
    background-image: linear-gradient(0deg,$primary-bg,transparent),url(../img/bg-info@3x.png);
  }

  @media (min-width: 393px) {
    min-height: 540px;

    padding-top: 85px;

    background-position: 0 bottom, 0 8px;
  }

  @media (min-width: 411px) {
    padding-top: 92px;

    background-image: linear-gradient(0deg,$primary-bg 7px,transparent),url(../img/bg-info.png);

    background-position: 0 bottom, 0 12px;
    background-size: 100% 10px, 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg,$primary-bg 7px,transparent),url(../img/bg-info@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: linear-gradient(0deg,$primary-bg 7px,transparent),url(../img/bg-info@3x.png);
    }

  }

  @media (min-width: $viewport-sm) {
    min-height: 536px;

    padding-top: 102px;

    background-image: url(../img/bg-info-sm.png);

    background-position: 0 10px;
    background-size: 100% auto;
    background-repeat: no-repeat repeat;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-info-sm@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-info-sm@3x.png);
    }
  }

  @media (min-width: $viewport-md) {
    min-height: 566px;

    padding-top: 75px;

    background-image: none;
  }

  @media (min-width: $viewport-lg) {
    min-height: 806px;

    height: calc(100vh - 94px);

    padding-top: 0;
  }

  @media (min-width: $viewport-lg) and (max-height: 728px) {
    min-height: 620px;
  }

  @media (min-width: $viewport-xl) {
    height: calc(100vh - 113px);
  }

  @media (min-width: $viewport-xl) and (max-height: 730px) {
    min-height: 620px;
  }

  &::after{

    @media (min-width: $viewport-md) {
      content: "";

      position: absolute;
      top: 0;
      left: 298px;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-image: url(../img/bg-info-md.png);
      background-position: 0 0;
      background-size: 193px 194px;
      background-repeat: repeat;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/bg-info-md@2x.png);
      }

      @media (min-resolution: 3dppx) {
        background-image: url(../img/bg-info-md@3x.png);
      }
    }

    @media (min-width: $viewport-lg) {
      height: 100.67%;

      left: 395px;

      background-image: url(../img/bg-info-lg.png);
      background-size: 228px 232px;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/bg-info-lg@2x.png);
      }

      @media (min-resolution: 3dppx) {
        background-image: url(../img/bg-info-lg@3x.png);
      }
    }

    @media (min-width: $viewport-lg) and (max-width: $viewport-xl - 1px) and (min-height: 936px) {
      top: 15px;

      height: 95%;
    }

    @media (min-width: $viewport-xl) {
      height: calc(100.67% + 240px);

      top: auto;
      bottom: -120px;
      left: 464px;

      background-position: 0 100%;
    }

    @media (min-width: $viewport-xl) and (max-height: 730px) {
      bottom: -134px;
    }

  }

  &--charizard{

    &::before{
      content: "";

      width: 159px;
      height: 163px;

      position: absolute;
      top: 58px;
      right: 0;

      background-image: url(../img/bg-charizard-xs.png);
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/bg-charizard-xs@2x.png);
      }

      @media (min-resolution: 3dppx) {
        background-image: url(../img/bg-charizard-xs@3x.png);
      }

      @media (min-width: 393px) {
        width: 190px;
        height: 195px;

        top: 73px;

        background-image: url(../img/bg-charizard-393-xs.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-charizard-393-xs@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-charizard-393-xs@3x.png);
        }
      }

      @media (min-width: 411px) {
        top: 80px;
      }

      @media (min-width: $viewport-sm) {
        width: 281px;
        height: 283px;

        top: 90px;

        background-image: url(../img/bg-charizard-sm.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-charizard-sm@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-charizard-sm@3x.png);
        }
      }

      @media (min-width: $viewport-md) {
        width: 336px;
        height: 381px;

        top: 80px;

        background-image: url(../img/bg-charizard-md.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-charizard-md@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-charizard-md@3x.png);
        }
      }

      @media (min-width: $viewport-lg) {
        width: 496px;
        height: 541px;

        top: 50%;

        transform: translateY(-53%);

        background-image: url(../img/bg-charizard-lg.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-charizard-lg@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-charizard-lg@3x.png);
        }
      }

      @media (min-width: $viewport-xl) {
        width: 610px;
        height: 618px;

        background-image: url(../img/bg-charizard-xl.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-charizard-xl@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-charizard-xl@3x.png);
        }
      }

      @media (min-width: $viewport-xl) and (max-height: 730px) {
        width: 550px;
        height: 557px;
      }
    }
  }
}

.info__wrapper-text{

  @media (min-width: $viewport-md) {
    max-width: 356px;

    position: relative;
    z-index: 1;

  }

  @media (min-width: $viewport-lg) {
    max-width: 457px;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-59%);
  }

  @media (min-width: $viewport-xl) {
    max-width: 550px;
  }

  @media (min-width: $viewport-xl) and (max-height: 730px) {
    transform: translateY(-51%);
  }

  &::before{

    @media (min-width: $viewport-md) {
      content: "";

      width: 390px;
      height: 390px;

      position: absolute;

      top: -80px;
      left: -122px;

      background-image: radial-gradient(205px at center center,  rgba(#FFC83D,0.1), rgba(#CF644D,0));

      pointer-events: none;
    }

    @media (min-width: $viewport-lg) {
      width: 480px;
      height: 480px;

      top: -100px;
      left: -132px;

      background-image: radial-gradient(245px at center center,  rgba(#FFC83D,0.1), rgba(#CF644D,0));
    }

    @media (min-width: $viewport-xl) {
      width: 550px;
      height: 550px;

      left: -142px;

      background-image: radial-gradient(295px at center center,rgba(255,200,61,.1),rgba(207,100,77,0));
    }

  }

  &::after{

    @media (min-width: $viewport-md) {
      content: "";

      width: 194px;
      height: 87%;

      position: absolute;
      right: 10px;
      top: 0;
      z-index: -1;

      border-radius: 0 100% 100% 0;

      background-color: $bg-info;
      background-image: url(../img/bg-body.jpg);
      background-position: 0 0;
      background-size: 64px 64px;
      background-repeat: repeat;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/bg-body@2x.jpg);
      }

      @media (min-resolution: 3dppx) {
        background-image: url(../img/bg-body@3x.jpg);
      }

    }

    @media (min-width: $viewport-lg) {
      height: 68%;

      top: 19px;
      right: -10px;
    }

  }

}

.info__subtitle{
  margin: 0 0 24px 0;

  font-size: 14px;
  line-height: 15px;

  color: $color-subtitle;

  @media (min-width: 393px) {
    margin-bottom: 32px;
  }

  @media (min-width: $viewport-sm) {
    margin-bottom: 20px;

    font-size: 15px;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 24px;

    line-height: 24px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 20px;
    line-height: 24px;
  }
}

.info__title{
  max-width: 170px;

  margin: 0 0 33px 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 42px;

  color: $color-title;

  @media (min-width: 393px) {
    max-width: 193px;

    margin-bottom: 48px;

    font-size: 34px;
    line-height: 46px;
  }

  @media (min-width: $viewport-sm) {
    max-width: 205px;

    margin-bottom: 16px;

    font-size: 36px;
    line-height: 48px;
  }

  @media (min-width: $viewport-md) {
    max-width: none;

    margin-bottom: 24px;

    line-height: 50px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 32px;

    font-size: 50px;
    line-height: 62px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 60px;
    line-height: 78px;
  }

  span{
    display: none;

    @media (min-width: $viewport-md) {
      display: inline;
    }
  }
}

.info__description{
  margin: 0 0 24px 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 22px;

  color: rgba($color-title, 0.9);

  @media (min-width: $viewport-sm) {
    max-width: 248px;

    margin-bottom: 26px;
  }

  @media (min-width: $viewport-md) {
    max-width: 331px;

    margin-bottom: 24px;
  }

  @media (min-width: $viewport-lg) {
    max-width: 435px;

    margin-bottom: 32px;

    font-size: 18px;
    line-height: 27px;
  }

  @media (min-width: $viewport-xl) {
    max-width: 520px;

    font-size: 20px;
    line-height: 30px;
  }

  span{
    display: none;

    @media (min-width: $viewport-md) {
      display: inline;
    }
  }
}

.info__count{
  @include list();

  display: flex;

  margin: 0 0 30px 0;

  font-size: 15px;
  line-height: 15px;

  @media (min-width: $viewport-sm) {
    flex-direction: column;

    width: 245px;

    position: absolute;
    right: 0;
    bottom: 93px;

    margin-bottom: 0;

    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $viewport-md) {
    flex-direction: row;

    width: auto;

    margin-bottom: 24px;

    position: static;

    line-height: 24px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 38px;

    font-size: 18px;
    line-height: 27px;
  }
}

.info__count-item{

  @media (min-width: $viewport-sm) {
    margin-bottom: 6px;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 0;
  }

  &:first-child{
    margin-right: 24px;

    @media (min-width: $viewport-sm) {
      margin-right: 0;
    }

    @media (min-width: $viewport-md) {
      margin-right: 32px;
    }

    @media (min-width: $viewport-lg) {
      margin-right: 50px;
    }

    @media (min-width: $viewport-xl) {
      margin-right: 60px;
    }
  }

  &:last-child{

    @media (min-width: $viewport-sm) {
      margin-left: 110px;
    }

    @media (min-width: $viewport-md) {
      margin-left: 0;
    }

  }

}

.info__button{
  height: 50px;

  display: flex;
  align-items: center;
}
