.modal{
  display: grid;
  grid-template-rows: auto;
  align-items: center;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: rgba($bg-modal,0.9);

  visibility: hidden;
  opacity: 0;

  transition: all 0.2s ease;

  @media (min-width: $viewport-lg) {
    // Кнопки боковые
    &::-webkit-scrollbar-button {
      width: 5px;
      height: 0;
    }

    // Цвет дорожки, по которой двигается бегунок прокрутки.
    &::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,0);
      border-radius: 5px;
    }

    // Цвет бегунка полосы, а так же его закругление.
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(255,255,255,0.1);
    }

    // Основная ширина полосы прокрутки.
    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  &--active{
    visibility: visible;
    opacity: 1;
    z-index: 20;
  }
}

.modal__inner{
  position: relative;

  padding: 74px 16px 44px 16px;
  margin: 32px 0;

  background-color: $bg-form;
  background-image: url(../img/bg-secondary.jpg);
  background-position: 0 0;
  background-size: 64px 64px;
  background-repeat: repeat;

  outline: none;

  border-radius: 8px;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/bg-secondary@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image: url(../img/bg-secondary@3x.jpg);
  }

  @media (min-width: $viewport-sm) {
    padding: 74px 32px 55px 32px;
  }

  @media (min-width: $viewport-lg) {
    padding-bottom: 64px;

    box-shadow: 0 0 12px 0 rgba($black,0.2);
  }

  @media (min-width: $viewport-xl) {
    padding-bottom: 74px;
  }

  &--fixed_width{
    @media (min-width: $viewport-sm) {
      max-width: 480px;

      margin: 32px auto;
    }

    @media (min-width: $viewport-lg) {
      .modal__title{
        padding-left: 72px;
        margin-bottom: 44px;

        font-size: 28px;
        line-height: 32px;

        &::before{
          width: 61.5px;
          height: 56px;

          background-size: 61.5px 56px;

        }
      }
    }

    @media (min-width: $viewport-xl) {
      padding-bottom: 64px;
    }
  }

  &--padding_top{
    @media (min-width: $viewport-lg) {
      padding-top: 92px;
    }
  }

  &--fixed_reg{
    @media (min-width: $viewport-sm) {
      max-width: 924px;

      margin: 32px auto;
    }
  }

}

.modal__title{
  display: inline-block;

  position: relative;
  left: 50%;

  margin: 0 0 38px 0;
  padding: 0 0 0 59px;

  font-weight: 500;
  font-size: 21px;
  line-height: 32px;

  text-transform: uppercase;

  user-select: $blockText;

  transform: translateX(-50%);

  @media (min-width: $viewport-sm) {
    padding-left: 72px;
    margin-bottom: 44px;

    font-size: 24px;
  }

  @media (min-width: $viewport-lg) {
    padding-left: 80px;
    margin-bottom: 50px;

    font-size: 32px;
    line-height: 32px;
  }

  &::before{
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    width: 52px;
    height: 48px;

    background-image: url(../img/icon-logo-modal.svg);
    background-position: center;
    background-repeat: no-repeat;

    transform: translateY(-50%);

    @media (min-width: $viewport-sm) {
      width: 61.5px;
      height: 56px;

      background-size: 61.5px 56px;

      transform: translateY(-46%);
    }

    @media (min-width: $viewport-lg) {
      width: 70px;
      height: 64px;

      background-size: 70px 64px;
    }
  }
}

.modal__form{

}

.modal__button{
  width: 30px;
  height: 30px;

  position: absolute;
  top: 16px;
  right: 16px;

  padding: 0;

  background-color: transparent;

  border: 1px solid rgba($color-modal, 0.9);
  border-radius: 4px;

  cursor: pointer;

  @media (min-width: $viewport-sm) {
    top: 20px;
    right: 32px;
  }

  @media (min-width: $viewport-lg) {
    width: 32px;
    height: 32px;

    top: 32px;

    box-shadow: none;

    transition: box-shadow 0.2s ease;
  }

  &::before,&::after{
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 20px;
    height: 2px;

    background-color: $color-modal;

    border-radius: 2px;

    transform: translate(-50%,-50%) rotate(45deg);

    @media (min-width: $viewport-lg) {
      width: 22px;

      opacity: 1;

      transition: background-color 0.2s ease, opacity 0.2s ease;
    }
  }

  &::after{
    content: "";

    transform: translate(-50%,-50%) rotate(-45deg);
  }

  &:hover{
    @media (min-width: $viewport-lg) {

      box-shadow: inset 0 0 8px 0 rgba($black,0.4);

      &::before,&::after{
        background-color: $primary;
      }

    }
  }

  &:focus{
    outline-width: 0;

    @media (min-width: $viewport-lg) {
      outline-width: 1px;
    }
  }

  &:active{
    @media (min-width: $viewport-lg) {
      box-shadow: inset 0 0 8px 0 rgba($black,0.6);

      &::before,&::after{
        opacity: 0.8;
      }

    }
  }
}

.modal__info{
  display: flex;
  justify-content: space-between;

  margin: 4px 0 10px 0;

  user-select: $blockText;
}

.modal__info-link{
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;

  text-decoration: none;

  color: $color-modal;

  &:hover{
    text-decoration: underline;
  }
}

