.offer{
  display: none;

  user-select: $blockText;

  @media (min-width: $viewport-lg) {
    display: block;
  }
}

.offer__inner{

  @media (min-width: $viewport-lg) {
    display: block;

    padding: 80px 0 0 0;
    margin: 0 0 96px 0;

    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }

  &::after{

    @media (min-width: $viewport-lg) {
      content: "";

      display: block;

      width: 100%;
      height: 400px;

      background-position: center;
      background-size: 919px 400px;
      background-repeat: no-repeat;
    }

  }

  &--charizard{

    @media (min-width: $viewport-lg) {
      &::after{
        background-image: url(../img/bg-charizard-offer-lg.png);


        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-charizard-offer-lg@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-charizard-offer-lg@3x.png);
        }
      }
    }

  }

  &--incineroar{

    @media (min-width: $viewport-lg) {
      &::after{
        background-image: url(../img/bg-incineroar-offer-lg.png);


        @media (min-resolution: 2dppx) {
          background-image: url(../img/bg-incineroar-offer-lg@2x.png);
        }

        @media (min-resolution: 3dppx) {
          background-image: url(../img/bg-incineroar-offer-lg@3x.png);
        }
      }
    }

  }

}

.offer__title{
  @media (min-width: $viewport-lg) {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 44px;
    line-height: 44px;

    text-align: center;
  }

  @media (min-width: $viewport-xl) {
    font-size: 60px;
    line-height: 89px;
  }
}

.offer__subtitle{
  @media (min-width: $viewport-lg) {
    margin-bottom: 38px;

    font-size: 18px;
    line-height: 27px;

    text-align: center;

    color: rgba($color-offer,0.8);
  }

  @media (min-width: $viewport-xl) {
    font-size: 24px;
    line-height: 36px;
  }
}

.offer__button{

  @media (min-width: $viewport-lg) {
    display: block;
    width: 345px;

    margin: 0 auto 64px auto;
  }

}
