.page{
}

.page__body{
  background-image: url(../img/bg-body.jpg);
  background-position: 0 0;
  background-size: 64px 64px;
  background-repeat: repeat;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/bg-body@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image: url(../img/bg-body@3x.jpg);
  }

  &--overflow{
    overflow: hidden;

    @media (min-width: $viewport-lg) {
      overflow: inherit;
    }
  }
}

.page__content{

  @media (min-width: $viewport-md) {
    overflow: hidden;
  }

}

.page__inner{

  @media (min-width: $viewport-lg) {
    display: grid;
    grid-template-columns: 1fr 376px;
    grid-column-gap: 24px;

    margin-top: 18px;
  }

  @media (min-width: $viewport-lg) and (min-height: 937px) {
    margin-top: 0;
  }

}
