.rating{

}

.rating__inner{
  padding: 32px 0 48px 0;

  @media (min-width: $viewport-sm) {
    padding: 40px 0 64px 0;
  }

  @media (min-width: $viewport-md) {
    padding-top: 50px;
  }

  @media (min-width: $viewport-lg) {
    padding: 64px 0 96px 0;
  }

  @media (min-width: $viewport-xl) {
    padding: 96px 0 120px 0;
  }
}

.rating__title{
  margin: 0 0 32px 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  text-align: center;

  user-select: $blockText;

  @media (min-width: $viewport-sm) {
    font-size: 36px;
    line-height: 42px;
  }

  @media (min-width: $viewport-md) {
    font-size: 38px;
    line-height: 44px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 48px;

    font-size: 44px;
    line-height: 50px;

    text-align: left;
  }

  @media (min-width: $viewport-xl) {
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }
}

.rating__row{
  @include list();

  display: grid;
  grid-row-gap: 24px;

  @media (min-width: $viewport-md) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }

  @media (min-width: $viewport-lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.rating__column{
  padding: 26px 12px 14px 12px;

  background-color: $bg-rating;
  background-image: url(../img/icon-rank.svg), url(../img/bg-secondary.jpg);
  background-position: top 24px right 12px,0 0;
  background-size: 21px 31px,64px 64px;
  background-repeat: no-repeat,repeat;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/icon-rank.svg), url(../img/bg-secondary@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image: url(../img/icon-rank.svg), url(../img/bg-secondary@3x.jpg);
  }

  @media (min-width: $viewport-sm) {
    padding: 28px 16px 18px 16px;

    background-position: top 27px right 12px,0 0;

    border-radius: 8px;
  }

  @media (min-width: $viewport-md) {
    padding-left: 24px;
    padding-right: 24px;

    background-position: top 24px right 24px,0 0;
  }

  @media (min-width: $viewport-lg) {
    padding: 26px 24px 18px 24px;
  }

  @media (min-width: $viewport-xl) {
    padding: 29px 32px 18px 32px;

    background-position: top 28px right 32px,0 0;
  }

  &:nth-child(1){
    @media (min-width: $viewport-md) and (max-width: $viewport-lg - 1px) {
      grid-column: 1 / span 2;

      border-radius: 8px 8px 0 0;
    }

    .rating__item{
      @media (min-width: $viewport-md) and (max-width: $viewport-lg - 1px) {
        font-size: 18px;
        line-height: 18px;

        padding: 20px 0;
      }
    }
  }

  &:nth-child(2){
    background-image: url(../img/icon-pokedex.svg), url(../img/bg-secondary.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/icon-pokedex.svg), url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/icon-pokedex.svg), url(../img/bg-secondary@3x.jpg);
    }

    @media (min-width: $viewport-md) {
      border-radius: 0 0 0 8px;
    }

    @media (min-width: $viewport-lg) {
      border-radius: 8px;
    }

    .rating__item-svg{
      fill: $icon-color-red-pokedex;
    }
  }

  &:nth-child(3){
    background-image: url(../img/icon-shainidex.svg), url(../img/bg-secondary.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/icon-shainidex.svg), url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/icon-shainidex.svg), url(../img/bg-secondary@3x.jpg);
    }

    @media (min-width: $viewport-md) {
      border-radius: 0 0 8px 0;
    }

    @media (min-width: $viewport-lg) {
      border-radius: 8px;
    }

    .rating__item-svg{
      fill: $icon-color-red-shainidex;
    }
  }
}

.rating__heading{
  margin: 0 0 25px 0;

  font-weight: 500;
  font-size: 26px;
  line-height: 28px;

  color: $color-rating;

  @media (min-width: $viewport-md) {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 28px;
  }

  &::selection{
    background-color: $bgTextCopy;
    color: $colorTextCopy;
  }
}

.rating__list{
  @include list();
}

.rating__item{
  position: relative;

  padding: 18px 0;

  line-height: 18px;

  color: $color-rating;

  @media (min-width: $viewport-xl) {
    font-size: 18px;
    line-height: 20px;
  }

  &::selection{
    background-color: $bgTextCopy;
    color: $colorTextCopy;
  }

  &::before{
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);

    background-color: rgba($bg-line-rating,0.2);
  }

  &:nth-child(1){
    &::before{
      background-color: $bg-line-rating;
    }

    .rating__item-svg{
      opacity: 1;
    }
  }

  &:nth-child(2){
    &::before{
      background-color: rgba($bg-line-rating,0.8);
    }

    .rating__item-svg{
      opacity: 0.8;
    }
  }

  &:nth-child(3){
    &::before{
      background-color: rgba($bg-line-rating,0.6);
    }

    .rating__item-svg{
      opacity: 0.6;
    }
  }

  &:nth-child(4){
    &::before{
      background-color: rgba($bg-line-rating,0.4);
    }

    .rating__item-svg{
      opacity: 0.4;
    }
  }

  &:nth-child(5){
    &::before{
      background-color: rgba($bg-line-rating,0.2);
    }
  }

  span{
    &::selection{
      background-color: $bgTextCopy;
      color: $colorTextCopy;
    }
  }
}

.rating__item-svg{
  width: 18px;
  height: 18px;

  vertical-align: top;

  margin-right: 10px;

  fill: $icon-color-red-rating;

  opacity: 0.3;

  @media (min-width: $viewport-xl) {
    width: 20px;
    height: 20px;
  }
}

.rating__check{
  float: right;
}
