.social{
  padding: 16px 12px;

  background-color: $bg-social;
  background-image: url(../img/bg-secondary.jpg);
  background-position: 0 0;
  background-size: 64px 64px;
  background-repeat: repeat;

  user-select: $blockText;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/bg-secondary@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image: url(../img/bg-secondary@3x.jpg);
  }

  @media (min-width: $viewport-sm) {
    padding: 0;

    background-color: transparent;
    background-image: none;
  }
}

.social__inner{
  display: grid;

  background-image: url(../img/bg-info.png);
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat repeat;

  color: $color-social;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/bg-info@2x.png);
  }

  @media (min-resolution: 3dppx) {
    background-image: url(../img/bg-info@3x.png);
  }

  @media (min-width: $viewport-sm) {
    padding: 20px 25px;

    background-color: $bg-social;
    background-image: url(../img/bg-social-sm.png), url(../img/bg-secondary.jpg);
    background-position: 25px 20px,0 0;
    background-size: 468px 227px,64px 64px;
    background-repeat: no-repeat,repeat;

    border-radius: 8px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-social-sm@2x.png), url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-social-sm@3x.png), url(../img/bg-secondary@3x.jpg);
    }
  }

  @media (min-width: $viewport-md) {
    padding: 20px 16px;

    background-image: url(../img/bg-social-md.png), url(../img/bg-secondary.jpg);
    background-position: 17px 20px,0 0;
    background-size: 662px 228px,64px 64px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-social-md@2x.png), url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-social-md@3x.png), url(../img/bg-secondary@3x.jpg);
    }
  }

  @media (min-width: $viewport-lg) {
    padding: 24px 20px;

    background-image: url(../img/bg-social-lg.png), url(../img/bg-secondary.jpg);
    background-position: 20px 24px,0 0;
    background-size: 896px 269px,64px 64px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-social-lg@2x.png), url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-social-lg@3x.png), url(../img/bg-secondary@3x.jpg);
    }
  }

  @media (min-width: $viewport-xl) {
    padding: 24px;

    background-image: url(../img/bg-social-xl.png), url(../img/bg-secondary.jpg);
    background-position: 24px 24px, 0 0;
    background-size: 1071px 270px, 64px 64px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-social-xl@2x.png), url(../img/bg-secondary@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-social-xl@3x.png), url(../img/bg-secondary@3x.jpg);
    }
  }
}

.social__title{
  padding: 0 15px;
  margin: 16px 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 38px;

  text-align: center;

  @media (min-width: $viewport-sm) {
    padding: 0 5px;
    margin: 18px 0 24px 0;

    font-size: 32px;
    line-height: 36px;
  }

  @media (min-width: $viewport-md) {
    margin-top: 20px;

    font-size: 34px;
    line-height: 36px;
  }

  @media (min-width: $viewport-lg) {
    margin-top: 40px;
    padding: 0 10px;

    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 40px;
  }
}

.social__subtitle{
  margin: 0 0 24px 0;

  font-size: 15px;
  line-height: 22px;

  text-align: center;

  color: rgba($color-social, 0.8);

  @media (min-width: $viewport-sm) {
    margin-bottom: 32px;
    padding: 0 5px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $viewport-lg) {
    padding: 0 10px;

    font-size: 18px;
    line-height: 27px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 32px;
  }
}

.social__list{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include list();

  margin-bottom: 26px;

  @media (min-width: $viewport-sm) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 42px;
  }

  @media (min-width: $viewport-md) {
    justify-content: center;

    margin-bottom: 30px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 44px;
  }
}

.social__item{
  min-width: 168px;

  border-radius: 4px;

  @media (min-width: $viewport-sm) {
    min-width: auto;

    flex: 1 1 auto;
  }

  @media (min-width: $viewport-md) {
    flex: 0 0 166px;
  }

  &:not(:last-child){
    margin: 0 0 16px 0;

    @media (min-width: $viewport-sm) {
      margin-bottom: 0;
      margin-right: 18px;
    }

    @media (min-width: $viewport-lg) {
      margin-right: 24px;
    }
  }

  &:nth-child(1){

    .social__link{
      background-color: $bg-vkontakte;

      &:hover{
        background-color: darken($bg-vkontakte,8%);
        box-shadow: inset 0 0 8px 0 darken($bg-vkontakte,5%), inset 0 0 10px 8px $bg-vkontakte;
      }

      &:active{
        background-color: darken($bg-vkontakte,8%);
        box-shadow: inset 0 0 8px 0 darken($bg-vkontakte,8%), inset 0 0 5px 8px darken($bg-vkontakte,8%);
      }
    }

  }

  &:nth-child(2){

    .social__link{
      background-color: $bg-discord;

      &:hover{
        background-color: darken($bg-discord,5%);
        box-shadow: inset 0 0 8px 0 darken($bg-discord,5%), inset 0 0 10px 8px $bg-discord;
      }

      &:active{
        background-color: darken($bg-discord,5%);
        box-shadow: inset 0 0 8px 0 darken($bg-discord,5%), inset 0 0 5px 8px darken($bg-discord,5%);
      }
    }

  }

  &:nth-child(3){

    .social__link{
      background-color: $bg-telegram;

      &:hover{
        background-color: darken($bg-telegram,8%);
        box-shadow: inset 0 0 8px 0 darken($bg-telegram,5%), inset 0 0 10px 8px $bg-telegram;
      }

      &:active{
        background-color: darken($bg-telegram,8%);
        box-shadow: inset 0 0 8px 0 darken($bg-telegram,8%), inset 0 0 5px 8px darken($bg-telegram,8%);
      }
    }

  }
}

.social__link{
  display: block;

  padding: 10px 0 10px 26px;

  font-size: 14px;
  line-height: 14px;

  color: $color-social;

  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $viewport-sm) {
    padding: 10px 5px;

    text-align: center;
  }

  @media (min-width: $viewport-md) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media (min-width: $viewport-lg) {
    border-radius: 4px;

    box-shadow: none;

    transition: background-color 0.25s ease , box-shadow 0.25s ease;
  }

  span{
    vertical-align: middle;
  }
}

.social__svg{
  width: 34px;
  height: 34px;
  vertical-align: middle;

  margin: 0 15px 0 0;

  fill: currentColor;

  @media (min-width: $viewport-md) {
    width: 38px;
    height: 38px;
  }
}

