<aside class="events">
  <h2 class="events__title">{{events.sectionTitle}}</h2>

  <ul class="events__grid">

    <!--  Игровые события  -->
    <li class="events__row">
      <h3 class="events__heading">{{events.post1.title}}</h3>

      <ul class="events__list">
        {{#repeat 4}}

        <li class="events__item">

          <div class="events__header">
            <h4 class="events__headline">
              <a href="" target="_blank" rel="noopener">{{events.post1.subtitle}}</a>
            </h4>
            <p class="event__date">
              <svg class="events__svg" width="12" height="12" aria-label="Дата статьи">
                <use xlink:href="assets/img/sprite.svg#time"/>
              </svg>
              {{events.post1.time}}
            </p>
          </div>
          <div class="events__img">
            <a href="" target="_blank" class="events__img-link">
              <img src="assets/img/{{events.post1.img}}" width="24" height="24" alt="Иконка события">
            </a>
          </div>

        </li><!--/.events__item-->
        {{/repeat}}

      </ul><!--/.events__list-->

    </li><!--/.events__block-item-->

    <!--  Антикварный дом  -->
    <li class="events__row">
      <h3 class="events__heading">{{events.post2.title}}</h3>

      <ul class="events__list">
        {{#repeat 4}}

        <li class="events__item">

          <div class="events__header">
            <h4 class="events__trainer">Тренер: <span>{{events.post2.trainer}}</span></h4>
            <h5 class="events__pokemon">Покемон: <a href="">{{events.post2.pokemon}}</a></h5>
            <p class="event__date">
              <svg class="events__svg" width="12" height="12" aria-label="Дата статьи">
                <use xlink:href="assets/img/sprite.svg#time"/>
              </svg>
              {{events.post2.time}}
            </p>
          </div>
          <div class="events__img events__img--pokemon">
            <a href="" class="events__img-link">
              <img src="assets/img/{{events.post2.img}}" width="30" height="30" loading="lazy" alt="Фото {{events.post2.pokemon}}">
            </a>
          </div>

        </li><!--/.events__item-->
        {{/repeat}}

      </ul><!--/.events__list-->

    </li><!--/.events__block-item-->
  </ul><!--/.events__block-list-->

</aside><!--/.events-->
