<footer class="footer">
  <div class="container">

    <div class="footer__inner">

      <div class="footer__wrapper-logo">

        <a href="" class="footer__logo logo">
          <img class="logo__img" src="assets/img/{{footer.logo}}" width="155" alt="Логотип OldPokemon">
        </a>

        <p class="copyright">{{footer.copyright}}</p>

      </div><!--/.footer__wrapper-logo-->

      <ul class="footer__list">
        {{#each footer.list}}

        <li class="footer__item">
          <img src="assets/img/{{this.icon}}"  width="18" height="18" alt="">
          <a href="" class="footer__item-link">{{this.name}}</a>
        </li>
        {{/each}}

      </ul><!--/.footer__list-->

    </div><!--/.footer__inner-->

  </div><!--/.container-->
</footer><!--/.footer-->
