<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{ title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Abraklion">
<meta name="description" content="{{ description }}">

<link rel="stylesheet" href="assets/css/{{ link }}">

<!-- favIcon -->
<link rel="icon" href="favicon.png" type="image/png">
<link rel="icon" href="favicon.svg" type="image/svg+xml">
<link rel="manifest" href="site.webmanifest">
<meta name="theme-color" content="#ffffff">
<!-- favIcon -->
