<header class="header">
  <div class="container">

    <div class="header__inner">

      <a href="" class="header__logo logo">
        <picture>
          <source media="(min-width: 576px)" srcset="assets/img/{{header.logo-sm}}" type="image/svg+xml">
          <img class="logo__img" src="assets/img/{{header.logo}}" width="50" height="38" alt="Логотип OldPokemon">
        </picture>
      </a><!--/.logo-->

      <nav class="header__navigation">

        <button class="header__burger js-burger" type="button">
          <span class="visually-hidden">Открыть меню</span>
        </button><!--/.burger-->

        <ul class="header__menu menu js-menu">
          {{#each header.menu}}
            <li class="menu__item">
              <a href="" class="menu__link">{{ this.item }}</a>
            </li>
          {{/each}}
        </ul><!--/.menu-->

      </nav><!--/.header__navigation-->

      <a href="" class="header__button button js-enterBtn">{{header.buttonText}}</a>

    </div><!--/.header__inner-->

  </div><!--/.container-->
</header><!--/.header-->
