<section class="modal js-newPassword">
  <div class="container">

    <div class="modal__inner modal__inner--fixed_width modal__inner--padding_top" role="dialog" aria-labelledby="modal__title--newPassword" aria-modal="true">

      <h2 class="visually-hidden" id="modal__title--newPassword">Изменения пароля</h2>

      <div class="modal__title">Восстановить пароль</div>

      <form class="modal__form form js-form" name="newPassword" action="/" method="POST" data-name="newPassword">

        <div class="form__element">
          <label class="visually-hidden" for="password-new">Пароль</label>
          <input class="form__input" id="password-new" type="password" name="password" data-length="ok" data-parent="ok" minlength="3" maxlength="20" placeholder="Придумайте новый пароль только из букв и цифр" required>
        </div>

        <div class="form__element">
          <label class="visually-hidden" for="repeat-password-new">Повторите пароль</label>
          <input class="form__input" id="repeat-password-new" type="password" name="repeat-password" data-comparisons="ok" minlength="3" maxlength="20" placeholder="Повторите придуманный вами новый пароль" required>
        </div>

        <div class="form__element">
          <button class="form__button button" type="submit" name="btn-newPassword">Изменить пароль</button>
        </div>

      </form><!--/.form-->

      <button class="modal__button js-close" type="button">
        <span class="visually-hidden">Закрыть окно изменения пароля</span>
      </button>

    </div><!--/.modal__inner-->

  </div><!--/.container-->
</section><!--/.modal-->
