<aside class="offer">
  <div class="container">

    <div class="offer__inner offer__inner--charizard">

      <h2 class="visually-hidden">Предложение стать тренером</h2>

      <div class="offer__title">{{offer.sectionTitle}}</div>
      <div class="offer__subtitle">{{offer.sectionSubTitle}}</div>
      <button class="offer__button button button--offer js-reg" type="button" aria-label="Открыть окно с формой регистрации">{{offer.buttonText}}</button>

    </div><!--/.offer__inner-->

  </div><!--/.container-->
</aside><!--/.offer-->
