<section class="modal js-registration">
  <div class="container">

    <div class="modal__inner modal__inner--fixed_reg" role="dialog" aria-labelledby="modal__title--registration" aria-modal="true">

      <h2 class="modal__title" id="modal__title--registration">Регистрация тренера</h2>

      <form class="modal__form form form--columns_2 js-form" name="registration" action="/" method="POST" data-name="registration">

        <div class="form__element">
          <label class="form__name" for="name">Имя тренера</label>
          <input class="form__input" id="name" type="text" name="name" data-length="ok" data-symbol="ok" minlength="3" maxlength="20" placeholder="Логин только из букв, без пробелов" autocomplete="off" required>
        </div>

        <div class="form__element">
          <label class="form__name" for="male" aria-label="Пол Мужской">Пол</label>
          <div class="form__radio-inner">
            <input class="form__radio visually-hidden" id="male" type="radio" name="floor" checked>
            <label class="form__floor" for="male">Мужской</label>
            <input class="form__radio visually-hidden" id="female" type="radio" name="floor">
            <label class="form__floor" for="female">Женский</label>
          </div>
        </div>

        <div class="form__element">
          <label class="form__name" for="password">Пароль</label>
          <input class="form__input" id="password" type="password" name="password" data-length="ok" data-parent="ok" minlength="3" maxlength="20" placeholder="Пароль длиною максимум 20 символов" required>
        </div>

        <div class="form__element">
          <label class="form__name" for="repeat-password">Повторите пароль</label>
          <input class="form__input" id="repeat-password" type="password" name="repeat-password" data-comparisons="ok" minlength="3" maxlength="20" placeholder="Повторите придуманный вами пароль" required>
        </div>

        <div class="form__element">
          <label class="form__name" for="email">Почта</label>
          <input class="form__input" id="email" type="email" name="email" data-length="ok" data-email="ok" minlength="3" maxlength="30" placeholder="Адрес вашей электронной почты" autocomplete="off" required>
        </div>

        <div class="form__element">
          <div class="form__checkbox-inner">
            <input class="form__checkbox visually-hidden" id="regulations" type="checkbox" name="regulations" checked required>
            <label class="form__regulations" for="regulations">Я принимаю <a href="" target="_blank">пользовательское соглашение</a>, <a href="" target="_blank">политику конфиденциальности</a>.</label>
          </div>
          <button class="form__button button" type="submit" name="btn-reg">Создать персонажа</button>
        </div>

      </form><!--/.form-->

      <button class="modal__button js-close" type="button">
        <span class="visually-hidden">Закрыть окно регистрации</span>
      </button>

    </div><!--/.modal__inner-->

  </div><!--/.container-->
</section><!--/.modal-->
