
//-----===== Базовые переменные ====-----//

// Стили шрифтов по умолчанию
$font-style-basic: normal;
$font-weight-basic: 400;
$font-size-basic: 16px;
$font-family-basic: "Oswald", sans-serif;

$line-height-basic: 1.5;

// Контрольные точки
$viewport-xs: 575px;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;

//================//========================================================================================//
// ПОЛИТРА ЦВЕТОВ // здесь собраны цвета которые используются один и более раз что бы избежать дублирования //
//================//========================================================================================//

$white: #ffffff;
$black: #000000;

//===================//==========================================================//
// ОБЩИЕ СТИЛИ САЙТА // если надо изменить какой то цвет глобально на всем сайте //
//===================//==========================================================//

// Фон | цвет первый
$primary-bg: #1D2027;

// Фон | цвет второй
$secondary-bg: #252831;

// Основной цвет текста: преимущественно используется для всего сайта
$text-color: $white;

// Цвет дизайнерский
$primary: #FFC83D;

// Цвет дизайнерский вспомогательный первому
$secondary: #EBA900;

// Скопированный текст
//$bgTextCopy: $white; // фон выделенного текста
//$colorTextCopy: $primary; // цвет выделенного текста

// Заблокировать копировать текста: none - запретить |  auto - разрешить
//$blockText: none;
